@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}
body {
  min-width: 480px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
  height: 100vh;
}

.inner {
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: center;
}

.header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  width: 370px;
  padding: 20px;
  background: #3e4f4b;
  margin-left: 50px;
  position: absolute;
  z-index: 100;
  visibility: visible;
  transition: 0.55s opacity, 0.55s visibility;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.player-info {
  display: flex;
  justify-content: space-between;
}

.duration-player {
  position: relative;
  height: 9px;
  width: 100%;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}

.volume-slider {
  display: flex;
  align-items: center;
}

.play-volume {
  display: flex;
  align-items: center;
  margin: 12px;
  background-image: url("../assets/svg/volume_control.svg");
}

.sound-volume {
  width: 140px;
  height: 7px;
  background-color: #fff;
  margin-right: 10px;
  outline: none;
}

.progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #ff940a;
  z-index: 1;
}
.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.player-time-block {
  display: flex;
}

.marg {
  margin-left: 5px;
  margin-right: 5px;
}

.track-item {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.track-button {
  margin-right: 15px;
  width: 27px;
  height: 27px;
  background-image: url("../assets/svg/play.svg");
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.play-volume {
  background-image: url("../assets/svg/volume_control.svg");
}

.play-order {
  background-image: url("../assets/svg/play-order.svg");
}

.play-repeat {
  background-image: url("../assets/svg/play-repeat.svg");
}
.mute {
  background-image: url("../assets/svg/mute.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  margin-left: auto;
  transition: 0.55s opacity, 0.55s visibility;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
  transition: 0.55s opacity, 0.55s visibility;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: 0.55s opacity, 0.55s visibility;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  transition: 0.55s opacity, 0.55s visibility;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.myName {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.myName::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
  transition: 0.55s opacity, 0.55s visibility;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .myName {
    font-size: 32px;
    padding: 5px;
  }
}

.languages {
  position: fixed;
  bottom: 373px;
  left: 190px;
  z-index: 101;
  transition: 0.1s;
  opacity: 0;
}

.languages-list {
  .languages-list__item {
    position: relative;
    display: flex;
    width: 150px;
    height: 30px;
    background: #d6cde0;
    align-items: center;
    cursor: pointer;
    text-align: left;
    color: #000;
    padding-left: 36px;
  }
  .languages-list__item:hover {
    color: green;
  }
}

input[type="range"]::-webkit-slider-thumb {
  background: #cb6d66;
  border-radius: 50%;
  cursor: pointer;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
}

.settings {
  position: fixed;
  left: 70px;
  z-index: 102;
  bottom: 97px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.settings-list {
  width: 310px;
  border-radius: 10px;
  padding: 20px;
  background: #d6cde0;
}

.settings-item {
  display: flex;
  text-align: left;
  opacity: 1;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

/* Переключатель - коробка вокруг ползунка */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 21px;
}

/* Скрыть флажок HTML по умолчанию */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Ползунок */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Закругленные ползунки */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.nextSet {
  width: 15px;
  height: 15px;
  background: none;
  border: none;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
  }
}

.background {
  position: fixed;
  left: 110px;
  bottom: 309px;
  z-index: 101;
  opacity: 0;
  transition: 0.1s;
}

.background-list_item {
  display: flex;
  width: 270px;
  height: 30px;
  background: #d6cde0;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  text-align: left;
  color: #000;
  padding-right: 15px;
  padding-left: 36px;
}

.visible {
  opacity: 0;
  visibility: hidden;
  transition: 0.55s opacity, 0.55s visibility;
}

.setting-visible-elems {
  left: 380px;
  transition: 0.5s;
}

.jackdaw {
  position: absolute;
  width: 13px;
  height: 13px;
  display: none;
  left: 15px;
}

.selected {
  display: block;
}

.tags-background {
  position: fixed;
  left: 540px;
  bottom: 150px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  .tags-background__list {
    .tags-background__item {
      display: flex;
      width: 110px;
      height: 30px;
      background: #d6cde0;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      text-align: left;
      color: #000;
      padding-right: 15px;
      padding-left: 35px;
    }
    .tags-background__item:hover {
      color: green;
    }
  }
}

.tags-visible {
  left: 649px;
  visibility: visible;
  transition: 0.55s opacity, 0.55s visibility;
  opacity: 1;
}

.todo {
  position: absolute;
  bottom: -140px;
  right: 80px;
  width: 400px;
  background: #d6cde0;
  color: #000;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  z-index: 100;
  visibility: visible;
  transition: 0.55s opacity, 0.55s visibility;
  h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .text-task {
    width: 250px;
    font-size: 15px;
    margin-right: 10px;
    height: 25px;
    padding-left: 10px;
  }
  .add-task {
    width: 50px;
    height: 25px;
  }
}

.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.description {
  margin-right: 20px;
  font-size: 14px;
  max-width: 290px;
}

.checkbox {
  transform: scale(2);
  width: 8px;
  height: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

.active {
  text-decoration: line-through;
  font-weight: 700;
}

.delete {
  width: 15px;
  height: 15px;
  background-image: url("../assets/svg/cross.png");
  background-size: cover;
  cursor: pointer;
  margin-left: 10px;
}

.settingHandler {
  position: fixed;
  display: flex;
  align-items: center;
  font-size: 25px;
  bottom: 80px;
  left: 100px;
  .setting-btn {
    background: none;
    border: none;
    cursor: pointer;
    img {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }
}

.settings-visible {
  bottom: 115px;
  visibility: visible;
  transition: 0.3s;
  opacity: 1;
}

.show {
  opacity: 1;
  transition: 0.8s;
}
